@media only screen and (max-width: 766px) {

    /* IMAGENS */
    #logo {
        height: 40px;
    }

    #banner {
        height: 220px;
    }

    /* ------ X ------ */

    /* BOTÕES */
    #bot {
        background: none;
        display: none;
        background-color: #212121;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 10px;
        border-radius: 20px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    /* ------ X ------ */
    /* Hovers */
    #bot:hover,
    a:hover,
    #instagram:hover {
        filter: brightness(70%);
        cursor: pointer;
    }

    /* --------------  */
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    header {
        display: flex;
        width: 100%;
        border-radius: 20px;
        margin: auto;
        justify-content: center;
    }

    .main-cabecalho {
        border: solid 0px #000;
        background-color: #fff;
        display: flex;
        position: fixed;
        gap: 60px;
        width: 95%;
        padding: 5px;
        border-radius: 20px;
        align-items: center;
        justify-content: space-around;
    }

    .son-one {
        display: flex;
        gap: 10px;
    }



    .son-three {
        display: flex;
        gap: 10px;
    }


    /* ------------------- */
    .span {
        height: 10px;
        margin-top: 100px;
        background-color: #ebe9e9;
    }

    /* ------------------- */

    .container {
        margin-top: 0px;
        border: solid 0px #000;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .main-conteudo {
        border: solid 0px #0ec7ff;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        height: auto;
        gap: 20px;
    }

    .main-A {
        display: flex;

        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .bodyson-A {
        display: flex;
        flex-direction: column;
    }

    #main-frase {
        font-size: 15px;


    }

    .main-B {
        background-color: #ebe9e9;
        margin-top: 95px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 100%;
    }

    .main-C {
        border: solid 0px #000;
        display: flex;
        height: 400px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    .bodysonC-I,
    .bodysonC-II,
    .bodysonC-III {
        background-color: #ebe9e9;
        flex-direction: column;
        font-size: 14px;
        padding: 10px;
        display: none;
        height: 30%;
        width: 200px;

    }


    .main-D {
        display: flex;
        height: auto;
        width: 100%;
        gap: 20px;
        flex-direction: column;
    }

    .bodysonD-I {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        ;
    }

    .main-E {
        background-color: #000000;
        margin-top: 100px;
        display: flex;
        height: 200px;
        width: 100%;
        font-size: 13px;
        align-items: center;
        color: #fff;

        justify-content: space-between;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {

    /* IMAGENS */
    #logo {
        height: 80px;
    }

    #banner {
        height: 220px;
    }

    /* ------ X ------ */

    /* BOTÕES */
    #bot {
        background: none;
        background-color: #212121;
        color: #fff;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
        border-radius: 20px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    /* ------ X ------ */
    /* Hovers */
    #bot:hover,
    a:hover,
    #instagram:hover {
        filter: brightness(70%);
        cursor: pointer;
    }

    /* --------------  */
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    header {
        display: flex;
        width: 100%;
        border-radius: 20px;
        margin: auto;
        justify-content: center;
    }

    .main-cabecalho {
        border: solid 0px #000;
        background-color: #fff;
        display: flex;
        position: fixed;
        gap: 60px;
        width: 95%;
        padding: 5px;
        border-radius: 20px;
        align-items: center;
        justify-content: space-around;
    }

    .son-one {
        display: flex;
        gap: 10px;
    }



    .son-three {
        display: flex;
        gap: 10px;
    }


    /* ------------------- */
    .span {
        height: 10px;
        margin-top: 100px;
        background-color: #ebe9e9;
    }

    /* ------------------- */

    .container {
        margin-top: 0px;
        border: solid 0px #000;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .main-conteudo {
        border: solid 0px #0ec7ff;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        height: auto;
        gap: 20px;
    }

    .main-A {
        display: flex;
        gap: 100px;
        align-items: center;
        justify-content: center;
    }

    .bodyson-A {
        display: flex;
        flex-direction: column;
    }

    #main-frase {
        font-size: 15px;


    }

    .main-B {
        background-color: #ebe9e9;
        margin-top: 95px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: 100%;
    }

    .main-C {
        border: solid 0px #000;
        display: flex;
        height: 400px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    .bodysonC-I,
    .bodysonC-II,
    .bodysonC-III {
        background-color: #ebe9e9;
        flex-direction: column;
        font-size: 14px;
        padding: 10px;
        display: flex;
        height: 50%;
        width: 350px;

    }

    .main-D {
        display: flex;
        height: auto;
        width: 100%;
        gap: 20px;
        flex-direction: column;
    }

    .bodysonD-I {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        ;
    }

    .main-E {
        background-color: #000000;
        margin-top: 100px;
        display: flex;
        height: 200px;
        width: 100%;
        font-size: 13px;
        align-items: center;
        color: #fff;

        justify-content: space-between;
    }

}

@media only screen and (min-width: 1024px) {

    /* IMAGENS */
    #logo {
        height: 80px;
    }
    #banner {
        height: 300px;
    }
    #banner2{
        height: 330px;
    }
    #banner3{
        height: 330px;
    }
    #instagram{
        height: 35px;
        width: 34px;
    }

    /* ------ X ------ */

    /* BOTÕES */
    #bot {
        background: none;
        background-color: #212121;
        color: #fff;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
        border-radius: 20px;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    /* ------ X ------ */
    /* Hovers */
    #bot:hover{
        filter: brightness(70%);
        cursor: pointer;
    }
    a:hover{
        filter: brightness(70%);
        color: #ebe9e9;
    }
    #instagram:hover{
        cursor: pointer;
        filter: contrast(5%);
    }

    /* --------------  */
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    header {
        display: flex;
        width: 50%;
        border-radius: 20px;
        margin: auto;
        justify-content: center;
    }

    .main-cabecalho {
        border: solid 0px #000;
        background-color: #fff;
        display: flex;
        position: fixed;
        gap: 60px;
        width: 70%;
        padding: 5px;
        border-radius: 20px;
        align-items: center;
        justify-content: space-around;
    }

    .son-one {
        display: flex;
        gap: 10px;
    }



    .son-three {
        display: flex;
        gap: 10px;
    }


    /* ------------------- */
    .span {
        height: 10px;
        margin-top: 100px;
        background-color: #ebe9e9;
    }

    /* ------------------- */

    .container {
        margin-top: 0px;
        border: solid 0px #000;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .main-conteudo {
        border: solid 0px #0ec7ff;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        height: auto;
        gap: 20px;
    }

    .main-A {
        display: flex;
        gap: 100px;
        align-items: center;
        justify-content: center;
    }

    .bodyson-A {
        display: flex;
        flex-direction: column;
    }

    .main-B {
        background-color: #ebe9e9;
        margin-top: 95px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 100%;
    }

    .main-C {
        border: solid 0px #000;
        display: flex;
        height: 400px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    .bodysonC-I,
    .bodysonC-II,
    .bodysonC-III {
        background-color: #ebe9e9;
        flex-direction: column;
        font-size: 14px;
        padding: 10px;
        display: flex;
        height: 50%;
        width: 350px;

    }

    .main-D{
        background-color: #ebe9e9;
        color: #000000;
        display: flex;
        padding: 5px;
        align-items: center;
        width: 100%;
    }
    .bodysonD-I{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-left: 180px;
    }

    .main-E{
        background-color: #ebe9e9;
        color: #000000;
        display: flex;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
        
        width: 100%;
    }
    
    .bodysonE-I{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-left: 100px;
    }

    .main-F {
        background-color: #ebe9e9;
        display: flex;
        height: 250px;
        width: 100%;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bodysonF-I {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 10px;

    }

    .main-G {
        background-color: #ebe9e9;
        color: #000000;
        margin-top: 50px;
        display: flex;
        height: 220px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    #contato{
        font-size: 20px;
    }

    
}