/* IMAGENS */
#logo {
    height: 100px;
}

#banner {
    height: 400px;
}

/* ------ X ------ */

/* BOTÕES */
#bot {
    background: none;
    background-color: #212121;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    border-radius: 20px;
}

#bot:hover {
    filter: brightness(40%);
}

/* ------ X ------ */




header {
    background-color: #fff;
    position: fixed;
    align-items: center;
    margin-top: -130px;
    margin-left: 26px;
    width: 100%;
}

.main-cabecalho {
    border: solid 1px #000;
    display: flex;
    gap: 60px;
    width: 95%;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
}

.son-one {
    display: flex;
    gap: 10px;
}



.son-three {
    display: flex;
    gap: 10px;
}


/* ------------------- */
.span {
    height: px;
    margin-top: 150px;
    background-color: #000000;
}

/* ------------------- */

.container {
    margin-top: 150px;
    border: solid 1px #000;
    height: auto;
    align-items: center;
    justify-content: center;
}

.main-conteudo {
    border: solid 1px #0ec7ff;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 90px;
}

.main-A {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.bodyson-A {display: flex;flex-direction: column;}

.main-B{
    background-color: #ebe9e9;
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}

.main-C{
    border: solid 1px #000;
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.bodysonC-I,.bodysonC-II,.bodysonC-III{
    background-color: #ebe9e9;
    display: flex;
    height: 90%;
    width: 350px;

}